name: Deploy Docker image to ECR

on:
  workflow_call:
    inputs:
      aws_region:
        description: "AWS region"
        type: string
        required: true
      ecr_repository:
        description: "ECR repository"
        type: string
        required: true
      context:
        description: "Source context - path location to docker build"
        type: string
        default: "."
        required: false
    secrets:
      iam_role_arn:
        description: "AWS IAM role for accessing ECR"
        required: true


jobs:
  publish-to-ecr:
    name: Build and Publish to ECR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.iam_role_arn}}
          aws-region: ${{ inputs.aws_region}}
          role-session-name: gh-actions
          role-skip-session-tagging: trues
  